body {
    background-color: yellow
}

title{
    width: 20%;
}

div {
    border: solid 5px black;
    width: 20%;
}


        
 



			
						
		
		
		

		
		

				

				
	

				


	
	

	
				


				
					
				

								

				
					
					
					
				

				
					
				

				

				
					